	<!DOCTYPE html>
	<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5948eb539ccc9600113b3a8a&product=inline-share-buttons' async='async'></script>
	<link href="https://fonts.googleapis.com/css?family=Tinos:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="css/w3.css">
	<link href="css/template.css" rel="stylesheet">
	<title>Evewoman</title>
	</head>

	<body>


<div class="container-fluid top-section">
		
  <div class="container-fluid wrapper">
			<div class="col-lg-9 col-sm-8 zero-left"><img src="img/logo.png" class="img-responsive" width="265" height="49" alt=""/></div>
			<div class="col-lg-3 col-sm-4">
					<div class="col-lg-2 col-sm-2 social-icon zero-left zero-right"><a href="#"><img src="img/facebook.png" class="img-responsive"width="300" height="300" alt=""/></a></div>
					<div class="col-lg-2 col-sm-2 social-icon zero-left zero-right"><a href="#"><img src="img/twitter.png" class="img-responsive"width="300" height="300" alt=""/></a></div>
					<div class="col-lg-2 col-sm-2 social-icon zero-left zero-right"><a href="#"><img src="img/whatsapp.png" class="img-responsive"width="300" height="300" alt=""/></a></div>
					<div class="col-lg-2 col-sm-2 social-icon zero-left zero-right"><a href="#"><img src="img/telegram.png" class="img-responsive"width="300" height="300" alt=""/></a></div>
					<div class="col-lg-2 col-sm-2 social-icon zero-left zero-right"><a href="#"><img src="img/instagram.png" class="img-responsive"width="300" height="300" alt=""/></a></div>
			  </div>
		</div>
		
	</div>

						<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="leftMenu">
					  <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">CLOSE &times;</button>
					  <a href="index.html" class="w3-bar-item w3-button">Home</a>
					  <a href="#" class="w3-bar-item w3-button">Beauty</a>
					  <a href="#" class="w3-bar-item w3-button">Health</a>
					  <a href="#" class="w3-bar-item w3-button">Lifestyle</a>
					  <a href="#" class="w3-bar-item w3-button">Fashion</a>
					  <a href="#" class="w3-bar-item w3-button">Lady Speak</a>
					  <a href="#" class="w3-bar-item w3-button">Love</a>
					  <a href="#" class="w3-bar-item w3-button">Readers Lounge</a>
					  <a href="#" class="w3-bar-item w3-button">Videos</a>
					  <a href="#" class="w3-bar-item w3-button">Just for mums</a>
					  <a href="#" class="w3-bar-item w3-button">Hair</a>
					  <a href="#" class="w3-bar-item w3-button">The Clinic</a>
					  <a href="#" class="w3-bar-item w3-button">Pregnancy</a>
					  <a href="#" class="w3-bar-item w3-button">Fitness</a>
					  <a href="#" class="w3-bar-item w3-button">Clinic</a>
					  <a href="#" class="w3-bar-item w3-button">Relationships</a>
					  <a href="#" class="w3-bar-item w3-button">Sex</a>
					  <a href="#" class="w3-bar-item w3-button">Men</a>
					  <a href="#" class="w3-bar-item w3-button">Weddings</a>
					  <a href="#" class="w3-bar-item w3-button">Achieving women</a>
					  <a href="#" class="w3-bar-item w3-button">Food</a>
					  <a href="#" class="w3-bar-item w3-button">Money</a>
					  <a href="#" class="w3-bar-item w3-button">Parenting</a>
					  <a href="#" class="w3-bar-item w3-button">Your Home</a>
					  <a href="#" class="w3-bar-item w3-button">Trends</a>
					  <a href="#" class="w3-bar-item w3-button">Celebs Trends</a>
					  </div>
					  <div class="w3-teal">

					  </div>

			<div class="container-fluid menu-wrapper">
			<div class="col-lg-1">
							<button class="w3-button w3-teal w3-xlarge w3-left" onclick="openLeftMenu()">&#9776;</button>
			</div>
			<div class="col-lg-10 menu">
				<ul>
					<li><a href="#">BEAUTY</a></li>
					<li class="active"><a href="#">HEALTH</a></li>
					<li><a href="#">LIFESTYLE</a></li>
					<li><a href="#">LOVE</a></li>
				</ul>		
			</div>
			<div class="col-lg-1 search">
			<img src="img/search.png" alt=""/>
			</div>
			</div>



	<!--<div class="container-fluid adspace-2">
	<div class=" col-lg-offset-3">
	<img src="img/ad.gif" class="img-responsive" width="728" height="90"  alt=""/>
	</div>
	</div>-->

			<div class="container-fluid wrapper">

			<h2 class="category-title"><a href="#">Health</a></h2>

			<div class="col-lg-4  col-lg-offset-4">
			<ul class="category-tabs">
				<li><a href="#">All</a></li>
				<li><a href="#">The Clinic</a></li>
				<li><a href="#">Fitness</a></li>
				<li><a href="#">Pregnancy</a></li>
			</ul>
			</div>
			</div>

		<div class="container-fluid wrapper">
			<ul class="breadcrumb">
				  <li><a href="#">Home</a> <span class="divider"></span></li>
				  <li><a href="#">Health</a> <span class="divider"></span></li>
				  <li class="active">All</li>
			</ul>

		</div>
		<div class="container-fluid wrapper">
				<div class="col-lg-3 col-md-2 article sidebar">
			   <h1 class="sidetitles">Latest Stories</h1>
				  <ul>
								<li>
								<h1><a href="#">Health</a></h1>
								<h2><a href="#">Pregnancy woes: Why your doctor will suggests an induction</a></h2>
								<h3><a href="#">By Tony Malesi</a></h3>
								</li>
								<li>
								<h1><a href="#">Pregnancy</a></h1>
								<h2><a href="#">Lack of it causes night blindness during pregnancy</a></h2>
								<h3><a href="#">By Jennifer Karina</a></h3>
								</li>
								<li>
								<h1><a href="#">Mens Health</a></h1>
								<h2><a href="#">There are several reasons potentially underlying fertility issues.</a></h2>
								<h3><a href="#">By Charles Chanchori</a></h3>
								</li>
								<li>
								<h1><a href="#">Health</a></h1>
								<h2><a href="#">What every pregnant woman should know about breech births</a></h2>
								<h3><a href="#">By MIke Mswati</a></h3>
								</li>
				  </ul>
					<!--Adevert Area
					<div class="sidebar-advert">
					<img src="img/300x250.jpg" width="300" height="250" alt=""/>
					</div>-->
		  </div>

			<div class="col-lg-9">

							<div class="col-lg-8">
								<img src="img/main-story-2.jpg" width="749" class="img-responsive" height="460" alt=""/> 
								<div class="content-wrapper">
									 	<div class="feature-item-rubric">Health</div>
										 <h2><a href="#">Why pregnant women see bizarre changes when they orgasm - and why it's not a cause for concern</a></h2>
										 <h3><a href="#">By Brian Guserwa </a></h3>
								</div>

							</div>

							 <div class="col-lg-4 col-md-3  zero-left ">
									<img src="img/1.jpg" class="img-responsive" alt=""/>
									<h1><a href="#">Pregnancy</a></h1>
									<h2><a href="#">The unpleasant signs your body gives off if you're having a girl</a></h2>
									<h3><a href="#">By Mswati Guserwa </a></h3>
							   </div>

			</div>

		</div>

		<div class="container-fluid wrapper">
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/1.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Skin</a></h1>
				<h2><a href="#">From stretch marks to skin breakouts: Here are secrets to maintain the pregnancy glow</a></h2>
				<h3><a href="#">By Brian Guserwa </a></h3>
		   </div>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/2.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Fitness</a></h1>
				<h2><a href="#">Best and easiest way to lose some weight you recently added</a></h2>
				<h3><a href="#">By Tony Masikonde</a></h3>
			</div>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/3.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">The Clinic</a></h1>
				<h2><a href="#">Stressed by cellulite? Coffee is what you need!</a></h2>
				<h3><a href="#">By Trevor Lamenya </a></h3>
		   </div>
	  <div class="col-lg-3 col-md-3 article">
				<img src="img/4.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Fitness</a></h1>
				<h2><a href="#">4 things to consider when buying second hand trainers</a></h2>
				<h3><a href="#">By Ted Malanda</a></h3>
		  </div>

		</div>

	<div class="container-fluid adspace-2">
	<div class=" col-lg-offset-0">
	  <img src="img/ad5.gif" width="728" height="90" alt=""/> </div>
	</div>


	<div class="container-fluid wrapper">	
  
  <h1 class="sidetitles2"> Fitness</h1>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/1.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Skin</a></h1>
				<h2><a href="#">From stretch marks to skin breakouts: Here are secrets to maintain the pregnancy glow</a></h2>
				<h3><a href="#">By Brian Guserwa </a></h3>
		   </div>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/2.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Fitness</a></h1>
				<h2><a href="#">Best and easiest way to lose some weight you recently added</a></h2>
				<h3><a href="#">By Tony Masikonde</a></h3>
			</div>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/3.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">The Clinic</a></h1>
				<h2><a href="#">Stressed by cellulite? Coffee is what you need!</a></h2>
				<h3><a href="#">By Trevor Lamenya </a></h3>
		   </div>
	  <div class="col-lg-3 col-md-3 article">
				<img src="img/4.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Fitness</a></h1>
				<h2><a href="#">4 things to consider when buying second hand trainers</a></h2>
				<h3><a href="#">By Ted Malanda</a></h3>
		  </div>
		<div class="clearboth"></div>
			<div class="col-lg-3 col-md-3 article ">
				<img src="img/1.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Skin</a></h1>
				<h2><a href="#">From stretch marks to skin breakouts: Here are secrets to maintain the pregnancy glow</a></h2>
				<h3><a href="#">By Brian Guserwa </a></h3>
		   </div>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/2.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Fitness</a></h1>
				<h2><a href="#">Best and easiest way to lose some weight you recently added</a></h2>
				<h3><a href="#">By Tony Masikonde</a></h3>
			</div>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/3.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">The Clinic</a></h1>
				<h2><a href="#">Stressed by cellulite? Coffee is what you need!</a></h2>
				<h3><a href="#">By Trevor Lamenya </a></h3>
		   </div>
	  <div class="col-lg-3 col-md-3 article">
				<img src="img/4.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Fitness</a></h1>
				<h2><a href="#">4 things to consider when buying second hand trainers</a></h2>
				<h3><a href="#">By Ted Malanda</a></h3>
		  </div>
		 </div>  

			<div class="container-fluid featured-section zero-left zero-right">

		<div class="col-lg-6 col-md-6 zero-left zero-right"><img src="img/advert-3.jpg" class="img-responsive" width="876" height="540" alt=""/></div>		
		<div class="col-lg-6 col-md-6 zero-left zero-right ad-content-holder">
			<h1><a href="#">Featured</a></h1>
			<h2><a href="#">Mukami Kimathi: Being immoral locks out blessings in your life</a></h2>
			Mukami Kimathi (Dedan Kimathi's widow), aged 87 reflects on her younger days. If I went back to being a young girl I would study hard so that I would be happy in my youth. I didn't get the opportunity to go to school but that did not stop me.<br>
			<button type="button" class="btn-lg btn-danger">Read more</button>
		</div>	

	</div>


			<div class="container-fluid adspace">
			<div class=" col-lg-offset-0">
			<img src="img/ad3.gif" width="728" height="90" alt=""/>
			</div>
		 </div>	

			<div class="container-fluid wrapper">
			
  <h1 class="sidetitles2"> Pregnancy</h1>

	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/5.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">The Clinic</a></h1>
				<h2><a href="#">How to rejuvenate your hair when it stops growing</a></h2>
				<h3><a href="#">By Brian Guserwa </a></h3>
		   </div>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/7.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Health</a></h1>
				<h2><a href="#">The Do's and Dont's of Workplace and home Etiquette</a></h2>
				<h3><a href="#">By Tony Masikonde</a></h3>
			</div>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/8.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Health</a></h1>
				<h2><a href="#">The hidden sugars in 'healthy' foods</a></h2>
				<h3><a href="#">By Trevor Lamenya </a></h3>
		   </div>
		   <div class="col-lg-3 col-md-3 article ">
				<img src="img/1.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Health</a></h1>
				<h2><a href="#">The hidden sugars in 'healthy' foods</a></h2>
				<h3><a href="#">By Trevor Lamenya </a></h3>
		   </div>
	  
		</div>

		<div class="container-fluid adspace">
			<div class=" col-lg-offset-1">
			<img src="img/Advert.jpg" class="img-responsive" width="1201" height="97" alt=""/>
			</div>
		 </div>	

	<div class="container-fluid wrapper">

  <h1 class="sidetitles2"> The clinic</h1>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/1.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">The Clinic</a></h1>
				<h2><a href="#">How to rejuvenate your hair when it stops growing</a></h2>
				<h3><a href="#">By Brian Guserwa </a></h3>
		   </div>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/2.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Health</a></h1>
				<h2><a href="#">The Do's and Dont's of Workplace and home Etiquette</a></h2>
				<h3><a href="#">By Tony Masikonde</a></h3>
			</div>
	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/3.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Health</a></h1>
				<h2><a href="#">The hidden sugars in 'healthy' foods</a></h2>
				<h3><a href="#">By Trevor Lamenya </a></h3>
		   </div>
	  <div class="col-lg-3 col-md-3 article">
				<img src="img/4.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Health</a></h1>
				<h2><a href="#">11 reasons why surprise pregnancies are a lot more common than you think</a></h2>
				<h3><a href="#">By Ted Malanda</a></h3>
		  </div>

	  <div class="col-lg-3 col-md-3 article ">
				<img src="img/5.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">The Clinic</a></h1>
				<h2><a href="#">How to rejuvenate your hair when it stops growing</a></h2>
				<h3><a href="#">By Brian Guserwa </a></h3>
		   </div>
	  <div class="col-lg-3 col-md-3 article">
				<img src="img/6.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Health</a></h1>
				<h2><a href="#">The Do's and Dont's of Workplace and home Etiquette</a></h2>
				<h3><a href="#">By Tony Masikonde</a></h3>
			</div>
	  <div class="col-lg-3 col-md-3 article">
				<img src="img/7.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Health</a></h1>
				<h2><a href="#">The hidden sugars in 'healthy' foods</a></h2>
				<h3><a href="#">By Trevor Lamenya </a></h3>
		   </div>
	  <div class="col-lg-3 col-md-3 article">
				<img src="img/8.jpg" class="img-responsive" alt=""/>
				<h1><a href="#">Health</a></h1>
				<h2><a href="#">11 reasons why surprise pregnancies are a lot more common than you think</a></h2>
				<h3><a href="#">By Ted Malanda</a></h3>
		  </div>


	</div>

	<div class="container-fluid featured-section zero-left zero-right">

		<div class="col-lg-6 col-md-6 zero-left zero-right"><img src="img/advert-1.jpg" class="img-responsive" width="876" height="540" alt=""/></div>		
		<div class="col-lg-6 col-md-6 zero-left zero-right"><img src="img/advert-2.jpg" class="img-responsive" width="876" height="540" alt=""/></div>	

	</div>

		<div class="container">
		<div class="footer-1 col-lg-offset-1">
			<ul>
				<li><a href="#">Beauty</a></li>
				<li><a href="#">Health</a></li>
				<li><a href="#">Love</a></li>
				<li><a href="#">The Clinic</a></li>
				<li><a href="#">Fashion</a></li>
				<li><a href="#">Lady Speak</a></li>
				<li><a href="#">Readers Lounge</a></li>
				<li><a href="#">Videos</a></li>
				<li><a href="#">Just for mums</a></li>
			</ul>
		</div>
		</div>

		<div class="container-fluid footer footer-2">
				<div class="col-lg-3 socialmedia">
					<h4>Evewoman</h4>
							<ul>
								<li><img src="img/Facebook.png" width="39" height="40" alt=""/></li>
								<li><img src="img/twitter.png" width="39" height="40" alt=""/></li>
								<li><img src="img/telegram.png" width="39" height="40" alt=""/></li>
								<li><img src="img/whatsapp.png" width="39" height="40" alt=""/></li>
								<li><img src="img/instagram.png" width="39" height="40" alt=""/></li>
								<li><img src="img/pintrest.png" width="39" height="40" alt=""/></li>
							</ul>
				</div>
				<div class="col-lg-2">
					<ul>
						<li><a href="#">Kenya</a></li>
						<li><a href="#">World</a></li>
						<li><a href="#">Politics</a></li>
						<li><a href="#">Business</a></li>
						<li><a href="#">Opinion</a></li>
						<li><a href="#">Health</a></li>
						<li><a href="#">Magazines</a></li>
						<li><a href="#">Sports</a></li>
						<li><a href="#">Health</a></li>
						<li><a href="#">RSS Feeds</a></li>
					</ul>
				</div>
				<div class="col-lg-2">
					<ul>
						<li><a href="#">Gossip</a></li>
						<li><a href="#">Pulse</a></li>
						<li><a href="#">Entertainment News</a></li>
						<li><a href="#">Celebs</a></li>
						<li><a href="#">Video Reviews</a></li>
						<li><a href="#">Events</a></li>
						<li><a href="#">Spritual</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Crazy Monday</a></li>
					</ul>
				</div>
				<div class="col-lg-2">
					<ul>
						<li><a href="#">Standard Digital Mobile</a></li>
						<li><a href="#">KTN Home</a></li>
						<li><a href="#">KTN News</a></li>
						<li><a href="#">Radio Maisha</a></li>
						<li><a href="#">Standard Digital Entertainment</a></li>
						<li><a href="#">EveWoman</a></li>
						<li><a href="#">Game Yetu</a></li>
						<li><a href="#">The Nairobian</a></li>
						<li><a href="#">uReport</a></li>
						<li><a href="#">Epaper</a></li>
					</ul>
				</div>
				<div class="col-lg-3">
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Rate Card</a></li>
						<li><a href="#">Tenders</a></li>
						<li><a href="#">Vacancies</a></li>
						<li><a href="#">DCX</a></li>
						<li><a href="#">O.M Portal</a></li>
						<li><a href="#">Corporate Email</a></li>
						<li><a href="#">Corporate</a></li>
						<li><a href="#">Jobs</a></li>
					</ul>
				</div>
			</div>

	<script>
		function openLeftMenu() {document.getElementById("leftMenu").style.display = "block";}
		function closeLeftMenu() {document.getElementById("leftMenu").style.display = "none";}
	</script>	

	</body>
	</html>
